body{
	margin: 9px 15px;
}
.logo {
	display: block;
	margin: 125px auto 0 auto;
}
.topbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: white;
}
li {
	float: left;
}
li a {
	display: block;
	color: #3F3F47;
	text-align: center;
	padding: 15px 9px;
	text-decoration: none;
}
a {
	font-family: Arial;
	font-size: 13px;
}
a:hover {
	text-decoration: underline;
}